def caesar_decrypt(cipher_text):
    for key in range(1, 26):  
        decrypted_text = ""
        for char in cipher_text:
            if char.isalpha():
                if char.isupper():
                    decrypted_text += chr((ord(char) - key - 65) % 26 + 65)
                else:
                    decrypted_text += chr((ord(char) - key - 97) % 26 + 97)
            else:
                decrypted_text += char
        print(f"Key {key}: {decrypted_text}")


cipher_text = input("Enter the ciphertext:\n")

print("\nDecrypted text using all possible keys:\n")
caesar_decrypt(cipher_text)
